[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

gensim = "*"
ipykernel = "*"
"beautifulsoup4" = "*"
lxml = "*"
nltk = "*"


[requires]

python_version = "3.6"


[dev-packages]

